node_formation/node_modules/
NodeJs_Formation/node_modules/
NodeJs_Formation/_front/node_modules/
angular-fundamentals/node_modules/
newAgence/node_modules/
ng-pokemons-app/node_modules/
pwa_veilletechno-master/node_modules/
ShoppingApp/client/node_modules/
ShoppingApp/client - Copie/node_modules/
ShoppingApp/client_old/node_modules/
ShoppingApp/server/node_modules/