<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let article of articles">
      <ion-thumbnail slot="start">
        <ion-img [src]="'http://localhosts:3000/api/Containers/photo/download/'+article.pictures[0]"></ion-img>
      </ion-thumbnail>
      <div class="my-container-label">
        <ion-label>{{article.title}}</ion-label>
        <ion-label>{{article.description}}</ion-label>
      </div>
      <div class="span-container">
        <span>{{article.price }} | currency></span>
        <span *ngIf="article.averageStar >= 1">
          <ion-icon name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >= 2">
          <ion-icon name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >= 3">
          <ion-icon name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >= 4">
          <ion-icon name="star"></ion-icon>
        </span>
        <span *ngIf="article.averageStar >= 5">
          <ion-icon name="star"></ion-icon>
        </span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

