<div class="rounded shadow bg-white p-5">
  <div class="row">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light"><i class="fas fa-home"></i> Biens immobiliers</h2>
      <button class="btn btn-primary ml-auto" type="button" data-toggle="modal" data-target="#propertiesFormModal" (click)="resetForm()"><i class="fas fa-plus"></i>Ajouter un bien</button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-dark">
  <div class="row">
    <div *ngFor="let property of properties;let i = index" class="col-12 shadow-sm p-4 mb-3 bg-light">
      <div class="row">
        <div class="col-3">
          <img *ngIf="property.photo && property.photo !==''" [src]="property.photo" class="w-100">
        </div>
        <div class="col-9">
          <div class="d-flex">
            <h3 class="font-weight-normal">{{property.title}}</h3>
            <div class="ml-auto">
              <button class="btn btn-primary m-1" type="button"><i class="fas fa-edit" (click)="onEditProperty(property)"></i></button>
              <button class="btn btn-danger m-1" type="button" (click)="onDeleteProperty(i)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
          <p>
            {{property.category}}
            <span *ngIf="property.surface && property.surface !==''">
              de {{property.surface}} m²
            </span>
            <span *ngIf="property.rooms && property.rooms !==''">
               , {{ property.rooms}} pièces
            </span>
          </p>
          <p *ngIf="property.price && property.price!==''">{{property.price}} €</p>
          <p>
            <span class="text-success" *ngIf="property.sold">Vendu</span>
            <span class="text-danger" *ngIf="!property.sold">A vendre</span>
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>

<!-- Modal Ajout/Edition -->
<div class="modal fade" id="propertiesFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
      <!-- <form #propertiesForm="ngForm" (ngSubmit)="onSubmitPropertiesForm(propertiesForm)"> -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edition d'un bien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <input type="text" placeholder="Titre" class="form-control" formControlName="title" >
            <!-- <input type="text" placeholder="Titre" class="form-control" name="title" ngModel> -->
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Categorie</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="category" >
            <!-- <select class="custom-select" id="inputGroupSelect01" name="category" ngModel > -->
              <option value="Appartement">Appartement</option>
              <option value="Maison">Maison</option>
            </select>
          </div>

          <div class="form-row">
            <div class="form-group col-6">
                <input type="text" class="form-control" placeholder="Surface (m²)" formControlName="surface" >
                <!-- <input type="text" class="form-control" placeholder="Surface (m²)" name="surface" ngModel > -->
            </div>
            <div class="form-group col-6">
                <input type="text" class="form-control" placeholder="Nombre de piéces" formControlName="rooms" >
                <!-- <input type="text" class="form-control" placeholder="Nombre de piéces" name="rooms" ngModel > -->
            </div>
          </div>

          <div class="form-group">
                <textarea class="form-control w-100" rows="4" placeholder="Description du bien" formControlName="description" ></textarea>
                <!-- <textarea class="form-control w-100" rows="4" placeholder="Description du bien" name="description" ngModel></textarea> -->
          </div>

          <div class="form-group">
                <input type="text" placeholder="Prix" class="form-control" formControlName="price" >
                <!-- <input type="text" placeholder="Prix" class="form-control" name="price" ngModel > -->
          </div>

          <div *ngIf="photoUrl && photoUrl!=''" class="d-flex mb-3">
              <img [src]="photoUrl" class="w-50 mx-auto">
          </div>

          <div class="form-row">
            <div class="col-9">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)='onUploadFile($event)'>
                  <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="spinner-border text-primary" *ngIf="photoUploading" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>





          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="sold">
            <!-- <input type="checkbox" class="custom-control-input" id="customSwitch1" name="sold" ngModel> -->
            <label class="custom-control-label" for="customSwitch1">
              <span class="text-success" *ngIf="propertiesForm.value.sold">Vendu</span>
              <span class="text-danger" *ngIf="!propertiesForm.value.sold">A vendre</span>
            </label>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" type="submit" [disabled]="propertiesForm.invalid" >Enregister</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- Modal suppression -->
<div class="modal fade" id="deletePropertyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Supprimer ce bien ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDeleteProperty()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
