#grille {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);

    /*row-gap: 10px;
    column-gap: 5px;*/
    gap: 20px;
    background-color:yellow;
    width: 400px;
    height: 400px;
    margin:auto;
}
.un {
order :1;
}
.six{
order:-1;
}
div[class] {
   border : 1px solid #cccccc; 
   text-align: center;
   padding: 10px;
}
.impaire {
    background-color: red;
}
.paire {
    background-color:black;
    color:white;
}