body {
    margin: 0;
    padding: 0;
    background: #262626;
    height: 100vh;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.vwMoitie {
    height: 200px;
    width: 50vw;
    background: crimson;
}
.percParent {
    width: 500px;
}

.percMoitie {
    height: 200px;
    width: 50%;
    background: crimson;
}

.pixelMoitie {
    height: 200px;
    width: 200px;
    background: crimson;
}
.vhUnit {
    height: 25%;
    width: 50%;
    background: crimson;
}
.txt {
    color: #f1f1f1;
    font-family: sans-serif;
}
/* txt px */
.titreEnPx {
    font-size: 70px;
}
/* txt Em */
.parentEm{
    font-size: 40px;
}
.titreEnEM { /* fait reference à la taille du parent ( ou de html par defaut font-size = 16px ) */
    font-size: 1em;
}
.titreEnREM { /* fait reference à la taille de html font-size = 16px par default ou à la font-size defini pour l'élément html */
    font-size: 1rem; /* 2rem = 32px, 3rem = 48px*/
}