body {
    margin: 0;
    padding: 0;
    background: #333;
}
.box {
    margin: 20px;
    width: 300px;
    height: 300px;
}
.posRel {
    background: crimson;
    position: relatif;
    top:400px;
    left:50px;
}
.posAbs1 {
    background:burlywood;
    position: absolute;
    top:400px;
    left:50px;
}
.parent2 {
    margin: 20px;
    width: 600px;
    height: 600px;
    background:  rgb(122, 190, 221);
    position:relative;
}
.parent {
    margin: 20px;
    width: 400px;
    height: 400px;
    background:salmon;
}

.element {
    width: 100px;
    height: 100px;
    background: aliceblue;
}
.posAbs {
    width: 100px;
    height: 100px;
    background: blueviolet;
}

.posFix {
    background: yellowGreen;
}